.features-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.features-grid-contents {
  display: grid;
  grid-template-rows: 0.2fr 1fr;
  margin: 1rem;
  gap: 1rem;
}

.features-grid-picture {
  background-color: var(--color-background-transparent);
  border-radius: 10px;
  width: 100%;
  max-width: 700px;
  max-height: 700px;
  aspect-ratio: 14 / 16;
  overflow: hidden;
  position: relative;
  border: 0.2rem solid var(--color-accent);

  display: flex;
  align-items: center;
  justify-content: center;
}

.features-grid-picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.button-link.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.route-selector {
  align-items: column;
}

.button-group > button {
  margin: 20px;
}

@media (min-width: 768px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1400px) {
  .features-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
