.grids-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  width: 100%;
}

.units-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  gap: 5px;
  border: 2px solid var(--color-accent);
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  margin-bottom: 30px;
}

.add-character-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-accent);
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  margin-bottom: 30px;
  color: var(--color-text-basic);
  font-size: 3rem;
}

.add-character-grid:hover {
  background-color: #cebaba;
  cursor: pointer;
}

.grid-cell {
  padding: 5px;
  border: 1px solid var(--color-accent);
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 0;
}

.top-left,
.top-middle,
.top-right,
.top-extra {
  background-color: #f0f8ff;
}

.bottom-left,
.bottom-middle,
.bottom-right,
.bottom-extra1,
.bottom-extra2,
.bottom-extra3,
.bottom-extra4 {
  min-height: 100px;
}

.grid-cell.bottom-right {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%;
  height: 100%; */
}

.bottom-row-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.character-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  display: block;
  max-width: 150px;
  max-height: 150px;
}

.top-left-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.expand-icon {
  cursor: pointer;
  font-size: 1.2rem;
  align-self: flex-end;
}

.expand-icon:focus {
  outline: 2px solid var(--color-accent);
  outline-offset: 2px;
}

span {
  color: var(--color-accent);
}

.class-sets-content {
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.class-sets-classes {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .units-grid {
    grid-template-columns: 1fr 1fr 0.6fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "top-left top-middle top-right"
      "bottom-left bottom-middle bottom-right";
  }

  .top-left {
    grid-area: top-left;
  }
  .top-middle {
    grid-area: top-middle;
  }
  .top-right {
    grid-area: top-right;
  }
  .bottom-left {
    grid-area: bottom-left;
  }
  .bottom-middle {
    grid-area: bottom-middle;
  }
  .bottom-right {
    grid-area: bottom-right;
  }

  .units-grid.expanded {
    grid-template-columns: 1fr 1fr 1fr 0.6fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "top-left top-extra top-middle top-right"
      "bottom-left bottom-extra1 bottom-middle bottom-right"
      "bottom-extra2 bottom-extra3 bottom-extra4 bottom-extra4";
  }

  .top-extra {
    grid-area: top-extra;
  }
  .bottom-extra1 {
    grid-area: bottom-extra1;
  }
  .bottom-extra2 {
    grid-area: bottom-extra2;
  }
  .bottom-extra3 {
    grid-area: bottom-extra3;
  }
  .bottom-extra4 {
    grid-area: bottom-extra4;
  }
}

@media (min-width: 1200px) {
  .grids-container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-auto-flow: dense;
  }

  .units-grid.expanded {
    grid-column: span 2;
  }
}
