:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: hoshido nohr;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-main-red: #b01818;
  --color-main-orange: #b06418;
  --color-accent: #0c7c7c;
  --color-accent-focus: #124174;

  background-color: #ddd6cc;
  --color-background: #ddd6cc;
  --color-text-basic: rgba(36, 35, 35, 0.87);
  --color-text-sub: rgb(31, 45, 46);
  --color-text-navbar: #ffffff;
  --color-text-component: #ffffff;
  --color-background-cell: #ffffff;
  --color-component-accent: #f0f8ff;
  --color-background-transparent: rgba(0, 0, 0, 0.308);
  --color-background-units-grid: #f8f8f8;
  --color-tooltip-background: #333333;
  --color-tooltip-text: #ffffff;
}

body.hoshido {
  transition: 0.4s;
  color-scheme: hoshido;
  --color-main-red: #b01818;
  --color-main-orange: #b06418;
  --color-accent: #0c7c7c;
  --color-accent-focus: #124174;

  background-color: #ddd6cc;
  --color-background: #ddd6cc;
  --color-text-basic: rgba(36, 35, 35, 0.87);
  --color-text-sub: rgb(31, 45, 46);
  --color-text-navbar: #ffffff;
  --color-text-component: #ffffff;
  --color-background-cell: #ffffff;
  --color-component-accent: #f0f8ff;
  --color-background-transparent: rgba(0, 0, 0, 0.308);
  --color-background-units-grid: #f8f8f8;
  --color-tooltip-background: #333333;
  --color-tooltip-text: #ffffff;
}

body.nohr {
  transition: 0.4s;
  color-scheme: nohr;
  --color-main-red: #850909;
  --color-main-orange: #81470c;
  --color-accent: #18b0b0;
  --color-accent-focus: #2e72bb;

  background-color: rgb(24, 22, 22);
  --color-background: #1d1a1a;
  --color-text-basic: #e0e0e0;
  --color-text-sub: #dfdfdf;
  --color-text-navbar: #e0e0e0;
  --color-text-component: #2a2a2a;
  --color-background-cell: #2a2a2a;
  --color-component-accent: #41464b;
  --color-background-transparent: rgba(255, 255, 255, 0.2);
  --color-background-units-grid: #2a2a2a;
  --color-tooltip-background: #e9e3e3;
  --color-tooltip-text: #1d1a1a;
}

.tippy-box[data-theme="custom"] {
  background-color: var(--color-tooltip-background) !important;
}

.tippy-box[data-theme="custom"] .tippy-content {
  color: var(--color-tooltip-text) !important;
}

.tippy-box[data-theme="custom"] .tippy-content {
  color: var(--color-tooltip-text) !important;
}

.tippy-box[data-theme="custom"] .tippy-content {
  color: var(--color-tooltip-text) !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-y: auto;
}

html {
  margin: 0;
  padding: 0;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: var(--color-text-basic);
  margin: 0;
  margin-bottom: 4rem;
}

h2 {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  font-size: 1.5rem;
  color: var(--color-text-sub);
  margin: 0;
  margin-bottom: 1rem;
}

h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.15rem;
  color: var(--color-text-basic);
  margin: 0;
  margin-bottom: 0rem;
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: var(--color-text-basic);
  margin: 0;
  margin-bottom: 0rem;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-text-navbar);
  background-color: var(--color-main-orange);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-accent);
}

main {
  padding-top: 4.5rem;
}

label {
  color: var(--color-text-basic);
}

input {
  background-color: var(--color-text-component);
  color: var(--color-text-basic);
}
#root {
  padding: 0rem;
  text-align: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

* {
  padding: 0;
}
