:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #ddd6cc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* tokens and shid */
  --color-background: #ddd6cc;
  --color-text-basic: rgba(36, 35, 35, 0.87);
  --color-text-sub: rgb(31, 45, 46);
  --color-main-red: #b01818;
  --color-main-orange: #b06418;
  --color-text-navbar: White;
  --color-text-component: White;
  --color-background-cell: White;
  --color-accent: #18b0b0;
  --color-accent-focus: #2e72bb;
  --color-background-transparent: rgba(0, 0, 0, 0.308);
  --color-background-units-grid: #f8f8f8;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-y: auto;
}

html {
  margin: 0;
  padding: 0;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: var(--color-text-basic);
  margin: 0;
  margin-bottom: 4rem;
}

h2 {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  font-size: 1.5rem;
  color: var(--color-text-sub);
  margin: 0;
  margin-bottom: 1rem;
}

h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.15rem;
  color: var(--color-text-basic);
  margin: 0;
  margin-bottom: 0rem;
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: var(--color-text-basic);
  margin: 0;
  margin-bottom: 0rem;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-main-orange);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-accent);
}

main {
  padding-top: 4.5rem;
}

label {
  color: var(--color-text-basic);
}

input {
  background-color: var(--color-text-component);
  color: var(--color-text-basic);
}
#root {
  padding: 0rem;
  text-align: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

* {
  padding: 0;
}
